{% extends 'base.html' %}
{% load static %}
{% load ajax_tags %}
{% block title %}Instituições{% endblock title %}
{% block content %}

{% include "partials/modal-form.html" %}

<div class="container justify-content-center">

  <h1>Instituições</h1>
  <a href="{% url 'index' %}">index</a>
  <br>
  <button class="js-create btn btn-success" type="button" data-url="{% url 'js-create-institution' %}">Cadastrar Instituição</button>
  
  <table id="{% table_id %}" class="table ">
    <thead>
      <th>PK</th>
      <th>Nome</th>
      <th>CNPJ</th>
    </thead>
    <tbody style="height: 50vh;">
      {% include 'partials/institution/list.html' %}
    </tbody>
  </table>

  {% include "partials/pagination.html" %}

</div>

{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery.ajax.js' %}"></script>
{% endblock script %}