{% extends 'base.html' %}
{% load static %}
{% load ajax_tags %}
{% block title %}
  Instituições
{% endblock %}

{% block content %}
  {% include 'partials/modal-form.html' %}

  <div class="container justify-content-center table-background">

    <div class="content-header d-flex justify-content-between">
      <h3 class="poppins-bold">Instituições</h3>
      <div>
          <button class="js-create btn btn-success" type="button" data-url="{% url 'js-create-institution' %}"> <i class="bi bi-plus-circle"></i> Cadastrar Instituição</button>
      </div>
    </div>

    <form id="{% form_id %}" action="?" method="GET">
      <div class="d-md-flex my-2">
        <input class="search form-control w-50" type="text" name="search" value="{{name}}" placeholder="Buscar instituição...">
      </div>
    </form>

    <div class="my-2">

    </div>

    <div class="table-responsive">
      <table id="{% table_id %}" class="table table-striped mt-4">
        <thead>
          <th>PK</th>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>OPÇÕES</th>
        </thead>
        <tbody>
          {% include 'partials/institution/list.html' %}
        </tbody>
      </table>
    </div>

    {% include 'partials/pagination.html' %}
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script src="{% static 'js/jquery.ajax.js' %}"></script>
{% endblock %}
