<div class="d-flex ">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb poppins-medium">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Início</a>
      </li>
      <li class="breadcrumb-item">
        {% if 'order' in request.resolver_match.url_name %}
          <a href="{% url 'order-list' %}">Pedidos</a>
        {% elif 'call' in request.resolver_match.url_name %}
          <a href="{% url 'call-list' %}">Chamadas</a>
        {% elif 'product' in request.resolver_match.url_name %}
          <a href="{% url 'product-list' %}">Produtos</a>
        {% elif 'institution' in request.resolver_match.url_name %}
          <a href="{% url 'institution-list' %}">Instituições</a>
        {% elif 'user' in request.resolver_match.url_name %}
          <a href="{% url 'user-list' %}">Usuários</a>
        {% endif %}
      </li>
        {% if 'create' in request.resolver_match.url_name %}
          <li class="breadcrumb-item">Cadastrar</li>
        {% elif 'update' in request.resolver_match.url_name %}
          <li class="breadcrumb-item">Editar</li>
        {% elif 'detail' in request.resolver_match.url_name %}
          <li class="breadcrumb-item">Detalhar</li>
        {% elif 'evaluate' in request.resolver_match.url_name %}
          <li class="breadcrumb-item">Avaliar</li>
        {% else %}
        {% endif %}
    </ol>
  </nav>

</div>