<div class="modal fade" id="{{modal_id}}">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h1 class="modal-title fs-5 text-uppercase poppins-bold">{{modal_title}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
              {{modal_text}}
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn {{btn_class}} text-uppercase">{{btn_text}}</button>
          </div>
          
      </div>
  </div>
</div>