<aside id="sidebar" class="collapsed">
    <div0 class="h-100">
        <div class="sidebar-margin"/>
        <ul class="sidebar-nav">
            <div class="d-flex justify-content-center">
                <hr class="w-75">
            </div>
            <a href="{% url 'index' %}" class="sidebar-link poppins-medium">
                <li class="sidebar-item {% if request.resolver_match.url_name == 'index-admin' %}active{% endif %}">Início</li>
            </a>

            <a href="{% url 'order-list' %}" class="sidebar-link poppins-medium">
                <li class="sidebar-item {% if 'order' in request.resolver_match.url_name  %}active{% endif %}">Pedidos</li>
            </a>

            <a href="{% url 'call-list' %}" class="sidebar-link poppins-medium ">
                <li class="sidebar-item {% if 'call' in request.resolver_match.url_name  %}active{% endif %}">Chamadas</li>
            </a>

            <a href="{% url 'institution-list' %}" class="sidebar-link poppins-medium">
                <li class="sidebar-item {% if 'institution' in request.resolver_match.url_name  %}active{% endif %}">Instituições</li>
            </a>

            <a href="{% url 'product-list' %}" class="sidebar-link poppins-medium">
                <li class="sidebar-item {% if 'product' in request.resolver_match.url_name  %}active{% endif %}">Produtos</li>
            </a>

            <a href="{% url 'user-list' %}" class="sidebar-link poppins-medium">
                <li class="sidebar-item {% if 'user' in request.resolver_match.url_name  %}active{% endif %}">Usuários</li>
            </a>

            <div class="d-flex justify-content-center">
                <hr class="w-75">
            </div>

            <li class="sidebar-item mobile-display">
                <div class="poppins-medium">Olá, <span class="fw-semibold text-success">{{request.user.get_full_name}}</span></div>
            </li>

            <a href="{% url 'logout' %}" class="sidebar-link poppins-medium">
                <li class="sidebar-item mobile-display">Sair</li>
            </a>
        </ul>
    </div>
</aside>