<aside id="sidebar" class="collapsed">
    <div class="h-100">
        <div class="sidebar-logo d-flex justify-content-center">
            <a href="{% url 'index' %}" class="poppins-bold text-success hidden-logo">COOPPOTENGI</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="{% url 'index' %}" class="sidebar-link poppins-medium {% if request.resolver_match.url_name == 'index-admin' %}active{% endif %}"> Início </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'order-list' %}" class="sidebar-link poppins-medium {% if request.resolver_match.url_name == 'order-list' %}active{% endif %}"> Pedidos </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'call-list' %}" class="sidebar-link poppins-medium {% if request.resolver_match.url_name == 'call-list' %}active{% endif %}"> Chamadas </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'institution-list' %}" class="sidebar-link poppins-medium {% if request.resolver_match.url_name == 'institution-list' %}active{% endif %}"> Instituições </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'product-list' %}" class="sidebar-link poppins-medium {% if request.resolver_match.url_name == 'product-list' %}active{% endif %}"> Produtos </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'user-list' %}" class="sidebar-link poppins-medium {% if request.resolver_match.url_name == 'user-list' %}active{% endif %}"> Usuários </a>
            </li>

            <div class="d-flex justify-content-center">
                <hr class="w-75">
            </div>

            <li class="sidebar-item">
                <div class="poppins-medium">Olá, <span class="fw-semibold text-success">{{request.user.get_full_name}}</span></div>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'logout' %}" class="sidebar-link poppins-medium"> Sair </a>
            </li>
        </ul>
    </div>
</aside>