<div class="wrapper">

    {% include 'partials/sidebar.html' %}

    <div class="main">
      <nav class="navbar navbar-expand nav-none navbar-bg-color">
        <div class="container container-fluid">
          <a class="navbar-brand poppins-bold text-success" href="{% url 'index' %}">COOPPOTENGI</a>
          <button class="btn" type="button"><span class="navbar-toggler-icon"></span></button>
        </div>
      </nav>

      <nav class="nav-placeholder"></nav>

      <main class="content px-md-3 py-md-2">