<!-- Sidebar -->
<aside id="sidebar">
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="#">COOPPOTENGI</a>
        </div>
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="{% url 'index' %}" class="sidebar-link"> Início </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'order-list' %}" class="sidebar-link"> Pedidos </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'call-list' %}" class="sidebar-link"> Chamadas </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'institution-list' %}" class="sidebar-link"> Instituições </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'product-list' %}" class="sidebar-link"> Produtos </a>
            </li>

            <li class="sidebar-item">
                <a href="{% url 'user-list' %}" class="sidebar-link"> Usuários </a>
            </li>
        </ul>
    </div>
</aside>