{% extends 'base.html' %}
{% load static %}
{% block title %}Produtos do Pedido{% endblock title %}

{% block content %}
    <div class="container justify-content-center">
        <h3>Editar Produtos do Pedido</h3>
        <p class="lead">Preencha todos os campos obrigatórios:</p>

        <hr>

        <form action="" method="POST">
            {% csrf_token %}

            <h3>{{order.institution}} - {{order.call}}  </h3> <!--({% if call.active %}ATIVO{% else %}FECHADA{% endif %})-->

            {{ form_product.management_form }}
                <h3>Produtos do Pedidos</h3>
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <td>Produtos</td>
                                <td>Quantidade</td>
                                <td>Saldo do Produto</td>
                                <td>Apagar</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        {% for form in form_product %}
                            <tr class='inlineform ' id="form-row-{{ form.prefix }}">
                                <td class='product-select'>{{ form.call_product }}</td>
                                <td>{{ form.ordered_quantity }}</td>
                                <td  class="product-balance"> {{form.instance.call_product.balance}} {{form.instance.call_product.product.unit}}</td>
                                <td>{% if form.instance %}{{form.DELETE}}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>    
                </div>

            <hr>

            <button type="submit" class="btn btn-primary ">Cadastrar</button>
        </form>

    
    </div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $('.inlineform').formset({
                prefix: '{{ form_product.prefix }}',
                addText: '<button type="submit" class="btn btn-success btn-sm">+</button>',
                deleteText: '<button type="submit" class="btn btn-danger btn-sm">x</button>',
            });
        })
    </script>
{% endblock script %}