{% for object in orders %}
  <tr>
    <td>{{ object.pk }}</td>
    {% if user.is_staff %}
      <td>{{ object.institution }}</td>
    {% endif %}
    <td>{{ object.user.get_full_name }}</td>
    <td>
      <div class="badge text-uppercase fw-semibold
        {% if object.status == 'pending' %}
        text-bg-warning
        {% elif object.status == 'approved' %}
        text-bg-success
        {% elif object.status == 'denied' %}
        text-bg-danger
        {% elif object.status == 'delivered' %}
        text-bg-primary
        {% endif %}
        ">
        {{ object.get_status_display }}
      </div>
    </td>
    <td>{{ object.timestamp|date:"SHORT_DATETIME_FORMAT" }}</td>

    <td>
      <div class="dropdown">
        <button class="btn btn-outline-success btn-rounded ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item btn-gap" href="{% url 'detail-order' object.pk %}"><i class="bi bi-eye-fill"></i> Detalhar</a>
          </li>

          {% if object.status == 'pending' %}
            {% if object.user == user %}
              <li>
                <a class="js-delete dropdown-item btn-gap" data-url="{% url 'js-delete-order' object.pk %}"><i class="bi bi-trash3-fill"></i> Excluir</a>
              </li>
              <li>
                <a class="dropdown-item btn-gap" href="{% url 'update-ordered-product' object.pk %}" title="Editar"><i class="bi bi-pencil-fill"></i> Editar Pedido</a>
              </li>
            {% endif %}

            {% if user.is_staff %}
            <li>
              <hr class="dropdown-divider" />
            </li>

              <li>
                <a class="dropdown-item btn-gap" href="{% url 'evaluate-order' object.pk %}"><i class="bi bi-star-fill"></i> Avaliar</a>
              </li>
            {% endif %}
          {% endif %}

          <!-- admin ter o direito de deletar um pedido que foi negado -->
          {% if object.status == 'denied' %}
            {% if user.is_staff %}
              <li>
                <a class="js-delete dropdown-item btn-gap" data-url="{% url 'js-delete-order' object.pk %}"><i class="bi bi-trash3-fill"></i> Excluir</a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="4">Nenhum pedido até o momento</td>
  </tr>
{% endfor %}
