{% extends 'base.html' %}
{% load static %}
{% load ajax_tags %}
{% load crispy_forms_tags %}
{% block title %}Produtos{% endblock %}
{% block content %}

{% include 'partials/modal-form.html' %}

<div class="container">
    {% include 'partials/breadcrumb.html' %}
    <div class="table-background">
    <div class="content-header d-md-flex justify-content-between align-items-baseline">
      <h3 class="poppins-bold">PRODUTOS</h3>
      <div>
        <button class="js-create btn btn-success btn-gap my-1" type="button" data-url="{% url 'js-create-product' %}">
          <i class="bi bi-plus-circle me-2"></i>
          CADASTRAR PRODUTO
        </button>
      </div>
    </div>
    <hr>

    <div class="table-responsive " >
      <table id="{% table_id %}" class="table table-striped" data-type="product">
        <thead>
          <th>N°</th>
          <th>NOME</th>
          <th>UNIDADE
            <div class="dropdown d-inline">
                  <a class="ms-1" data-bs-toggle="dropdown">
                    <i class="bi bi-funnel-fill text-success"></i>
                  </a>
                  <ul class="dropdown-menu p-3" style="min-width: 200px;">
                    <li>
                      <div class="form-check">
                        <input class="form-check-input unit-checkbox" type="checkbox" value="KG" id="unit-kg">
                        <label class="form-check-label" for="unit-kg">KG</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input class="form-check-input unit-checkbox" type="checkbox" value="UNI" id="unit-uni">
                        <label class="form-check-label" for="unit-uni">UNI</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input class="form-check-input unit-checkbox" type="checkbox" value="BDJ" id="unit-bdj">
                        <label class="form-check-label" for="unit-bdj">BDJ</label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <input class="form-check-input unit-checkbox" type="checkbox" value="L" id="unit-l">
                        <label class="form-check-label" for="unit-l">L</label>
                      </div>
                    </li>
                  </ul>
                </div>
          </th>
          <th>OPÇÕES</th>
        </thead>
        <tbody class="table-group-divider ">
          {% include 'partials/product/list.html' %}
        </tbody>
      </table>
    </div>

    {% include 'partials/pagination.html' %}
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/jquery.ajax.js' %}"></script>
  <script src="{% static 'js/modalFocus.js' %}"></script>
{% endblock %}
