:root {
    --main-bg-color: #B1C1CA;
    --white-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

    body {
    background-color: var(--main-bg-color);
}

.navbar-bg-color {
    background-color: var(--white-color);
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.table-background {
    min-height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-color);
    margin-bottom: 5rem;
    padding: 2rem;
}

.content-header p {
    font-size: 20px;
    text-decoration: underline;
}