{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastrar Pedido{% endblock title %}
{% block content %}
    <div class="container justify-content-center">
        <h3>Cadastrar Pedido (Admin)</h3>
        <p class="lead">Preencha todos os campos obrigatórios:</p>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p}}

            {% if form_product %}
                <h3>Produtos do Pedidos</h3>
                {{ form_product.management_form}} 
                
                {% for form in form_product %}
                    <div class='inlineform'>
                        <hr>
                        {{ form }}
                    </div>
                {% endfor %}

            {% endif %}
            <hr>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $('.inlineform').formset({
                prefix: '{{ form_product.prefix }}',
                addText: '<button type="submit" class="btn btn-success btn-sm">+</button>',
                deleteText: '<button type="submit" class="btn btn-danger btn-sm">x</button>',
            });
        })
    </script>

    <script src="{% static "js/get_products.js" %}"></script>
    
{% endblock script %}