{% extends 'base.html' %}
{% load static %}
{% load ajax_tags %}
{% block title %}
  Pedidos
{% endblock %}
{% block content %}
  {% include 'partials/modal-form.html' %}

    <div class="container justify-content-center table-background">
      <div class="content-header d-flex justify-content-between">
        <h3 class="poppins-bold">Pedidos</h3>
        <div>
          {% if user.is_staff %}
            <a href="{% url 'create-order-admin' %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle"></i> Novo pedido</a>
            <a href="{% url 'week-report' %}" class="btn btn-warning btn-sm" target="_blank"><i class="bi bi-newspaper"></i> Relátorio Semanal</a>
          {% else %}
            <a href="{% url 'create-order' %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle"></i> Novo pedido</a>
          {% endif %}
        </div>
      </div>

      <div class="table-responsive">
        <table id="{% table_id %}" class="table table-striped mt-4">
          <thead>
            <tr>
              <th>N°</th>
              {% if user.is_staff %}
                <th>Instituição</th>
              {% endif %}
              <th>User</th>
              <th>Situação</th>
              <th>Feito em</th>
              <th>Opções</th>
            </tr>
          </thead>

          <tbody class="table-group-divider ">
            {% include 'partials/order/list.html' %}
          </tbody>
        </table>

        {% include 'partials/pagination.html' %}
      </div>
    </div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/jquery.ajax.js' %}"></script>
{% endblock %}
