{% extends 'base.html' %}
{% load static %}
{% block title %}Produtos das Chamadas{% endblock title %}

{% block content %}
    <div class="container justify-content-center">
        <h3>Produtos das Chamadas</h3>
        <p class="lead">Preencha todos os campos obrigatórios:</p>

        <hr>

        <form action="" method="POST">
            {% csrf_token %}

            Chamada: {{ form.call }}

            {{ form_product.management_form}} 
            
            {% for product in form_product %}
            <div class='inlineform'>
                <hr>
                {{ product }}
            </div>
               
            {% endfor %}

            <hr>

            <button type="submit" class="btn btn-primary ">Cadastrar</button>
        </form>

    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $('.inlineform').formset({
                prefix: '{{ form_product.prefix }}',
                addText: '<button type="submit" class="btn btn-success btn-sm">+</button>',
                deleteText: '<button type="submit" class="btn btn-danger btn-sm">x</button>',
            });
        })
    </script>
{% endblock script %}