{% extends 'base.html' %}
{% load static %}
{% block title %}Produtos da Chamada{% endblock title %}

{% block content %}
    <div class="container justify-content-center">
        <h1>Produtos da Chamada</h1>
        <a href="{% url 'index' %}">index</a>
        <br>

        {% for call in call_product_list %}
            {{call}}
        {% endfor %}

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Saldo</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    
                    {% for call in call_product_list %} 
                            {% for product in  call.chamada.all %}
                            <tr>
                                <td>{{ product.product }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.balance }}</td>
                                <td>
                                    <a href="{% url 'delete-call-product' product.pk %}" class="btn btn-danger btn-sm" title="Excluir">x</a>
                                </td>
                            </tr>
                            {% endfor %} 
           
                    {% endfor %}

                    <tr>
                        <td colspan= '4'>
                            <a href="{% url 'call-product-create' %}" class="btn btn-success btn-sm"> Adicionar um produto +</a>
                           
                            {% for call in call_product_list %}
                                <a href="{% url 'update-call_product' call.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar produtos </a>
                            {% endfor %}
                        </td>

                    </tr>
                  
                </tbody>


    </div>
{% endblock content %}