{% extends 'base.html' %}
{% load static %}
{% block title %}Produtos das Chamadas{% endblock title %}

{% block content %}

    <div class="container justify-content-center">
        <h3>Editar Produtos da Chamada</h3>
        <p class="lead">Preencha todos os campos obrigatórios:</p>

        <hr>

        <form action="" method="POST">
            {% csrf_token %}

            <h3>{{call.institution}} - {{call.number}} {% if call.active %}ATIVO{% else %}FECHADA{% endif %} </h3>

            {{ form_product.management_form}} 
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <td>Produtos</td>
                            <td>Preço (R$)</td>
                            <td>Saldo do Produto</td>
                            <td>Apagar</td>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    {% for form in form_product %}
                        <tr class='inlineform'>
                            <td>{{ form.product }}</td>
                            <td>{{ form.price }}</td>
                            <td>{{ form.balance }}</td>
                            <td class="d-none">{{ form.id }}</td>
                            <td class="d-none">{% if form.instance.pk %}{{ form.DELETE}}{% endif %}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>    
            </div>
            <hr>
            <button type="submit" class="btn btn-primary ">Cadastrar</button>
        </form>

    </div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            $('.inlineform').formset({
                prefix: '{{ form_product.prefix }}',
                addText: '<button type="submit" class="btn btn-success btn-sm">+</button>',
                deleteText: '<button type="submit" class="btn btn-danger btn-sm">x</button>',
            });
        })
    </script>

    <script src="{% static 'js/get_products.js' %}"></script>
{% endblock script %}