{% extends 'base.html' %}
{% load static %}
{% block title %}Chamada{% endblock %}
{% block content %}
<div class="container">
  <div class="table-background">
    <div class="d-flex content-header justify-content-between">
      <div class="d-flex align-items-baseline gap-3">
        <h3 class="poppins-bold">CHAMADA {{ call.number }}</h3>
        <div class="">
          <span class="badge text-uppercase fs-4 py-2{% if call.active %} text-bg-success {% else %} text-bg-warning {% endif %}">
              {% if call.active %}
              Ativa
              {% else %}
              Inativa
              {% endif %}
          </span>
        </div>
      </div>
      {% if user.is_staff %}
      <div class="d-md-flex gap-2">
          <a href="{% url 'update-call' call.pk %}" class="btn btn-success btn-gap my-1">
            <i class="bi bi-pencil-fill"></i>
            Editar Chamada
          </a>
        </div>
      {% endif %}
    </div>
    <hr>
    <div class="content-header my-3">
      <p><strong>INSITITUIÇÃO</strong>: {{ call.institution }}</p>
      <p><strong>INÍCIO</strong>: {{ call.start|date:"SHORT_DATE_FORMAT" }}</p>
      <p><strong>TÉRMINO</strong>: {{ call.end|date:"SHORT_DATE_FORMAT" }}</p>
    </div>
    <div class="d-md-flex align-items-baseline">
      <h4 class="poppins-bold">PRODUTOS DA CHAMADA</h4>
      <div class="ms-auto">
        <a href="{% url 'update-call-product' call.pk %}" class="btn btn-success btn-gap my-1">
          <i class="bi bi-pencil-fill"></i>
          Editar Produtos
        </a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <th>PRODUTO</th>
        <th>SALDO</th>
        <th>UNIDADE</th>
        <th>PREÇO</th>
        {% if user.is_staff %}
          <th>DELETAR?</th>
        {% endif %}
      </thead>
      <tbody  class="table-group-divider">
        {% for product in call.products %}
          <tr>
            <td>{{ product.product }}</td>
            <td>{{ product.balance }}</td>
            <td>{{ product.product.unit }}</td>
            <td>{{ product.price }}</td>
            {% if user.is_staff %}
              <td>
                <a href="{% url 'delete-call-product' product.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="bi bi-trash3-fill"></i> Excluir </a>
              </td>
            {% endif %}
          </tr>
        {% empty %}
        <tr>
          <td colspan="5">Sem Produtos nessa Chamada.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
