{% extends 'base.html' %}
{% load static %}
{% block title %}
  Chamada
{% endblock %}
{% block content %}
  <div class="container justify-content-center table-background">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-baseline gap-3 mb-3">
        <h3 class="poppins-bold">Chamada {{ call.number }}</h3>
        <div class="">
          <span class="badge text-uppercase fs-4 py-2
              {% if call.active %}
              text-bg-success
              {% else %}
              text-bg-warning
              {% endif %}
              ">
              
              {% if call.active %}
              Ativa
              {% else %}
              Inativa
              {% endif %}
          </span>
      </div>
      </div>

      <div class="content-header">
        {% if user.is_staff %}
          <a href="{% url 'update-call-product' call.pk %}" class="btn btn-warning">Editar Produtos</a>
          <a href="{% url 'call-list' %}" class="btn btn-outline-success">Chamadas</a>
          <a href="{% url 'update-call' call.pk %}" class="btn btn-success">Editar Chamada <i class="bi bi-pencil-fill"></i></a>
        {% endif %}
      </div>
    </div>

    <div class="d-flex flex-column mb-3">
      <div>
        <p>
          <b>Instituição:</b> {{ call.institution }}
        </p>
      </div>
      <div class="d-flex gap-3">
        <p>
          <b>Início:</b> {{ call.start }}
        </p>
        <p>
          <b>Término:</b> {{ call.end }}
        </p>
      </div>
    </div>

    <table class="table table-striped mt-4">
      <thead>
        <th>Produto</th>
        <th>Saldo</th>
        <th>Unidade</th>
        <th>Preço</th>
        {% if user.is_staff %}
          <th>Deletar?</th>
        {% endif %}
      </thead>
      <tbody  class="table-group-divider">
        {% for product in call.products %}
          <tr>
            <td>{{ product.product }}</td>
            <td>{{ product.balance }}</td>
            <td>{{ product.product.unit }}</td>
            <td>{{ product.price }}</td>
            {% if user.is_staff %}
              <td>
                <a href="{% url 'delete-call-product' product.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="bi bi-trash3-fill"></i> Excluir </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
