{% extends 'base.html' %}
{% load static %}
{% block title %}Chamadas{% endblock title %}

{% block content %}

{% include "partials/modal-form.html" %}

<div class="container justify-content-center">
    <h1>Chamadas</h1>
    <br>
    {% if user.is_staff %}
    <a href="{% url 'create-call' %}" class="btn btn-success">Cadastrar Chamada</a>
    {% endif %}

    <div class="table-responsive">
        <table id="partial-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Número</th>
                    {% if user.is_staff %}
                    <th>Instituição</th>
                    {% endif %}
                    <th>Início</th>
                    <th>Término</th>
                    <th>Situação</th>
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody style="height: 50vh;">
                {% include "partials/call/list.html" %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery.ajax.js' %}"></script>
{% endblock script %}