{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Mudar Senha{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class="container ">
  <div class="d-flex justify-content-center">
    <div class="content-background">
      <h3 class="poppins-bold">MUDAR SENHA</h3>
      <hr>
      <div class="fs-5 my-2">Digite a nova senha de <strong>{{form.user.get_full_name}}</strong> <span class="asteriskField fw-semibold">*</span></div>
      <div class="">
        <form action="{% url 'update-user-password' form.user.pk %}" method="post">
          {% csrf_token %}
          {{form|crispy}}
          <hr>
          <div class="d-flex gap-3 mt-2">
            <a href="{% url 'user-list' %}" class="btn btn-danger btn-gap my-1">
              <i class="bi bi-x-circle"></i>
              CANCELAR
            </a>
            <button class="btn btn-success btn-gap my-1" type="submit" btn-gap my-1>
              <i class="bi bi-check-circle"></i>
              CONFIRMAR
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/showPassword.js' %}"></script>
<style>
  .invalid-feedback{
    display: block !important;
  }
</style>
{% endblock script %}