{% extends 'base.html' %}
{% load static %}
{% load ajax_tags %}

{% block title %}
  Usuários
{% endblock %}
{% block content %}
  {% include 'partials/modal-form.html' %}

    <div class="container justify-content-center table-background">

      <div class="content-header d-flex justify-content-between">
        <h3 class="poppins-bold">Usuários</h3>
        <div>
          <button class="js-create btn btn-success" type="button" data-url="{% url 'js-create-user' %}"> <i class="bi bi-plus-circle"></i> Cadastrar Usuário</button>
        </div>
      </div>

      <table id="{% table_id %}" class="table table-striped mt-4">
        <thead>
          <th>N°</th>
          <th>NOME DE USUÁRIO</th>
          <th>NOME</th>
          <th>INSTITUIÇÃO</th>
          <th>ATIVO</th>
          <th>ADMINISTRADOR</th>
          <th>OPÇÕES</th>
        </thead>
        <tbody class="table-group-divider ">
          {% include 'partials/user/list.html' %}
        </tbody>
      </table>

      {% include 'partials/pagination.html' %}
    </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/jquery.ajax.js' %}"></script>
{% endblock %}
