{% extends 'base.html' %}
{% load static %}
{% load ajax_tags %}

{% block title %}
  Usuários
{% endblock %}
{% block content %}
  {% include 'partials/modal-form.html' %}

  {% include 'partials/sidebar_template_1.html' %}
    <div class="container justify-content-center">
      <h1>Usuários</h1>
      <a href="{% url 'index' %}">index</a>
      <br />
      <button class="js-create btn btn-success" type="button" data-url="{% url 'js-create-user' %}">Cadastrar Usuário</button>
      <br />

      <table id="{% table_id %}" class="table">
        <thead>
          <th>PK</th>
          <th>Username</th>
          <th>Nome</th>
          <th>Instituição</th>
          <th>Ativo</th>
          <th>Administrador</th>
        </thead>
        <tbody style="height: 50vh;">
          {% include 'partials/user/list.html' %}
        </tbody>
      </table>

      {% include 'partials/pagination.html' %}
    </div>
  {% include 'partials/sidebar_template_2.html' %}
{% endblock %}

{% block script %}
  <script src="{% static 'js/jquery.ajax.js' %}"></script>
{% endblock %}
